#ant specific
dist/
build/

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
nbproject/private/private.properties
nbproject/build-impl.xml
*.properties
build/classes/Model/States/Nen/LightAttack.class
*.class
*.class
*.class
*.class
build/classes/View/GamePanel.class
*.class
*.class
*.class
*.class
build/built-jar.properties
*.properties
*.class
build/built-jar.properties